.header {
    background-color: var(--white);
    border-bottom: 1px solid var(--grey-2);
    padding-top: 86px;
    padding-bottom: 77px;
}

.header__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: #212429;
}
