.header {
    text-align: center;
    padding: 1em;
}

.button {
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    height: 48px;
    min-width: 189px;
}

.button:hover {
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
}


.main__button {
    margin: 1%;
}

.button_primary {
    background: var(--primary);
    color: var(--white);
}


.button_secondary {
    background: var(--secondary);
    color: var(--white);
}

.button_alternate {
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
    background: var(--white);
}

.button_primary:hover {
    background: var(--primary-hover);
}


.button_secondary:hover {
    background: var(--secondary-hover);
}

.button_alternate:hover {
    border-color: var(--black);
}

.button_primary:disabled {
    background: var(--primary);
    opacity: 0.5;
}


.button_secondary:disabled {
    background: var(--secondary);
    opacity: 0.5;
}

.button_alternate:disabled {
    opacity: 0.5;
    border-color: var(--grey-3);
}

