.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
    /* не работает, как был секционный разворачиватель треугольником так и остался*/
}

.main__accordion {
    margin-left: 38%;
}


.accordion {
    width: 50%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 8px 0;
    margin-bottom: 8px;
}

.accordion_content {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 8px 0;
    margin-bottom: 8px;
}

.accordion:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    color: var(--black);
    /*padding: 16em 32px;*/
}

.accordion__text {
    color: var(--grey-4);
    padding: 0 56px;
}

