.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
    /* не работает, как был секционный разворачиватель треугольником так и остался*/
}

.accordion {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.accordion__content {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding-left: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 8px;
}

.accordion__summary + .accordion__text {
    margin-top: 16px;
}
.accordion__text:last-child {
    margin-bottom: 8px;
}

.accordion__summary {
    color: var(--black);
}

.accordion__text {
    color: var(--grey-4);
}

.accordion__content:last-child {
    margin-bottom: 0;
}


