@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #E2E6E8;
    --grey-6 :#F3F5F5;
    --grey-7 :#E3E7EA;

    --error: var(--red);
    --success: var(--blue);

    --primary: #4263EB;
    --secondary: var(--purple);
    --primary-hover: #2342C0;
    --secondary-hover: #5028C6;
}


body {
    font-family: 'Roboto', sans-serif;
}
