 /*71 32 136*/
.footer {
    /*padding: 72px 257px 136px;*/
    border-top: 1px solid var(--grey-2);
    text-align: center;
}

.footer__title {
    display: inline-block;
    padding-top: 71px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: var(--black)
}

.footer__description {
    padding: 32px 257px 136px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: var(--black);

}
